@font-face {
    font-family: norse;
    src: url(./assets/fonts/norse/Norse.otf);
}

@font-face {
    font-family: norse-bold;
    src: url(./assets/fonts/norse/Norsebold.otf);
}

:root {
    --accent: #596D48;
    --input-border: 1px solid #E5E7EB;
    --invalid-input-border: 2px solid red;
    --selected-input-border: 2px solid blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* border: 1px dashed black; */
}

.page-container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.image-container, .credit a {
    color: white;
}

.image-container {
    position: relative;
    background-image: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 auto;
    height: 100vh;
    aspect-ratio: 1862 / 2792;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    top: 20vh;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    aspect-ratio: 380 / 508;
    flex: 0 0 auto;
    height: 12vh;
    width: auto;
}

.logo h1 {
    font-family: norse-bold, fantasy;
    font-size: 12vh;
}

.credit {
    width: 100%;
    position: absolute;
    bottom: 8px;
    font-size: 12px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    flex: 1;
    height: 100vh;
}

.main-text, .create-account, .login {
    margin: 16px 40px;
}

.main-text {
    font-size: 24px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.legend {
    color: #5a5a5a;
}

.form fieldset {
    border: none;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.3);
}

.fields {
    padding: 16px 40px;
    display: flex;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 16px 48px;
}

.field label {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 2px;
}

.field input {
    padding: 8px;
    border: var(--input-border);
    border-radius: 4px;
}

.field input:user-invalid {
    outline: var(--invalid-input-border);
}

.field input:focus {
    outline: var(--selected-input-border);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.create-account {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--accent);
    padding: 8px 32px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.login a {
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
}